/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html, body {
	height: 100%;
}

p,a,h2,h4,h6 {
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: rgba(0, 0, 0, .05) 0 0 1px;
}

h1,h3,h5{
	font-family: 'Sanchez', sans-serif;
	text-shadow: rgba(0, 0, 0, .05) 0 0 1px;
}

h1 {
	font-size: 2.25em;
	letter-spacing: 0.02em;
	line-height: 1.3em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.75em;
}

h3 {
	font-size: 1.125em;
	line-height: 1.3em;
}

#wrapper {
	min-height: 100%;
	padding: 0;
}

/* Forms */
#header form {
	border-bottom: 0.2em solid #ff6000;
	margin: 0 0 0.3em;
	padding: 0 0.5em 0.625em 0;
	
	-webkit-box-shadow: 0px 2px 0px -1px rgba(180, 180, 180, 0.6);
	box-shadow: 0px 2px 0px -1px rgba(180, 180, 180, 0.6); 
}

#header form input[type="text"], input[type="button"], input[type="password"], input[type="email"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #777777;
    display: block;
    font: 14px 'Source Sans Pro',sans-serif;
	float: left;
    margin: 0 0 10px;
    max-width: 100%;
    outline: medium none;
	padding: 0.215em;
}

#header form input[type="submit"] {
	background: none repeat scroll 0 0 #1337b4;
    border: 1px solid #1337b4;
    border-radius: 0;
    color: #FFFFFF;
    font: 14px 'Source Sans Pro',sans-serif;
	float: right;
	margin: 0 -8px 0 0;
    max-width: 100%;
    outline: medium none;
	padding: 0.2em 0.5em;
}

#header form a {
	font: 14px 'Source Sans Pro',sans-serif;
	text-decoration: none;
}

#header #header-search-form {
	border-bottom: none;
	box-shadow: none;
	margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 0;
}

/* Cabe�alho */
#header {
	padding: 0.5em 0 0.2em;
}

#header #logo{
	padding-top: 0.8em;
}

#header #area-de-login {
	padding-top: 1.5em;
}

#header #area-perfil {
	padding-top: 1.1em;
}	
	#header #area-perfil ul {
		background-color: white;
		margin: 0.4em 0 0;
		padding: 0.6em;
		position: absolute;
		z-index: 900;
		
		-webkit-box-shadow: 0px 2px 5px 0px rgba(80, 80, 80, 0.5);
		box-shadow: 0px 2px 5px 0px rgba(80, 80, 80, 0.5);	
	}
		#header #area-perfil ul li {
			margin: 0;
		}

	#header #area-perfil #logout-link{
		padding: 0.4em 0;
	}
	#header #area-perfil a{
		font-size: 0.85em;
	}

/* Caixa de texto destacado */

.highlighted-text-box {
	padding: 2.15em 0;
}
.highlighted-text-box p.highlighted-text{
	font: 2.3em 'Sanchez',serif;
}

.highlighted-text-box p.light-highlighted-text{
	font: 1.6em 'Source Sans Pro',sans-serif;
	font-weight: 300;
}

.centered-text {
	text-align: center;
}

/* Conteudo */
#content {
	padding: 0.8em 0 1.5em;
	
}
	#content p{
		margin: 0 0 0.8em 0;
	}
	
	.news a:active, .news a:link {
		color: #1741d5;
	}
	
	.news a:hover {
		color: #ff6000;
	}
	
	.wp-caption-text {
		color: #808080;
		font-size: 0.8em;
		font-style: italic;	
		padding: 0.3em;
		text-align: right;		
	}
	
	.addthis_button_compact {
		display: none;
	}
	
	/* Metadados nas paginas que tem listagem de posts */
	.meta p{
		color: #1337b4;
		margin: 0 0 0.5em;
	}
	
	/* Estilos pra listas de conteudo. Ex: posts em arquivo de tags */
	.content-list .entry, .commentlist li {
		margin-top: 1.5em;
	}
	
	.content-list .post, .commentlist li {
		padding: 0;
	}
	
	/* Comentários */
	#comments-wrapper {
		overflow: hidden;
	}
	
	.comment-reply-link {
		color: #1337b4;
		font-family: 'Sanchez';
		font-size: 0.8em;
	}
	
	.comment-author {
		margin-bottom: 0.2em;
	}
		
		.comment-author cite, .comment-author .says {
			color: #1337b4;
			font-family: 'Sanchez';
		}
		
	.comment-meta {
		margin-bottom: 0.8em;
	}
		.comment-meta a {
			font-size: 0.9em;
		}
		
	/* Caixa de avaliação */
	.ratings {
		padding: 0.5em;
	}
	
/* Slider geral*/
.slider-wrapper {
	overflow: hidden;
	position: relative;
}

div.slider-wrapper a.prev,div.slider-wrapper a.next {
	color: #0E0E6D;
	font-family: 'Sanchez', serif;
	font-size: 2em;
	float: left;
	margin: 0 0;
}

div.slider-wrapper a.next {
	float: right;
}

ul.slider {
	background-color: black;
}
	ul.slider li {
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 0;
	}

		ul.slider li div {
			padding: 1em;
			height: 168px;
			
			-webkit-box-shadow: inset 0px 0px 10px 0px rgba(80, 80, 80, 0.6);
			box-shadow: inset 0px 0px 10px 0px rgba(80, 80, 80, 0.6);	
		}
		
		ul.slider li div:hover {
			background-image: url('images/slider_hover_bg.png');
		}
		
		ul.slider li a {
			color: white;
			font-family: 'Sanchez', serif;
			font-size: 1.1em;
			font-weight: 500;
			word-wrap: break-word;
			
			text-shadow: 1px 1px 1px #323232;
        	filter: dropshadow(color=#323232, offx=1, offy=1);
		}
/* Artigos mais recentes */
#latest-articles ul li h4 a: active, #latest-articles ul li h4 a: visited, #latest-articles ul li p, #latest-articles ul li p a:active, #latest-articles ul li p a:visited {
	color: #595959;
}

/* Rodape */
#footer {
	background-color: #0e0e6d;
	padding: 0.5em;
	height: 100%;
	
}

#footer .footer-icons{
	float: right;
}

#footer #menu-footer {
	float: left;
}

#menu-footer li {
	display: inline;
	margin-right: 1.25em;
}

#menu-footer li a{
	color: #ffffff;
}

/* Efeitos */
.box-shadow {
	-webkit-box-shadow: 0px 0px 3px 2px rgba(160, 160, 160, 0.5);
	box-shadow: 0px 0px 3px 2px rgba(160, 160, 160, 0.5); 
}

.top-shadow {
	-webkit-box-shadow: 0px -5px 3px -3px rgba(160, 160, 160, 0.6);
	box-shadow: 0px -5px 3px -3px rgba(160, 160, 160, 0.6); 
}

.bottom-shadow {
	-webkit-box-shadow: 0px 5px 3px -3px rgba(180, 180, 180, 0.5);
	box-shadow: 0px 5px 3px -3px rgba(180, 180, 180, 0.5); 
}

.destaque-sublinhado, .comment-body { /* Comment list added to the same effect so we don't need to change /wp-includes files */
	padding-bottom: 0.4em;
	border-bottom: 0.1em solid #ff6000;
	
	-webkit-box-shadow: 0px 2px 0px -1px rgba(180, 180, 180, 0.6);
	box-shadow: 0px 2px 0px -1px rgba(180, 180, 180, 0.6); 
}

::-moz-selection {
    background-color: #ff6000;
    color: #fff;
}

::-webkit-selection {
	background-color: #ff6000;
	color: #fff;
}

::selection {
    background-color: #ff6000;
    color: #fff;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/